.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__hr{
        border: 1px solid #1F2625;
        display: flex;
        width: 90%;
        margin-left: 4rem;
    }
    &__form{
        width: 100%;
        padding: 4rem;
    }
    &__inputs-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        width: 100%;
    }
    &__inputs-container{
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        width: 100%;
        &__label{
            font-size: 1rem;
            font-weight: 600;
            color: #999999;
        }
        &__input{
            font-size: 1rem;
            width: 100%;
            border: #E6E6E6 solid 2px;
            height: 3rem;
            margin-left: .1rem;
        }
        &__textarea{
            border: #E6E6E6 solid 2px;
            margin-left: .1rem;

            width: 98%;
        }
        &__boton-container{
            margin-top: 3rem;
            &__boton{
                background-color: #1F2625;
                color: white;
                font-size: .8rem;
                font-weight: 600;
                padding: 1rem;
            }
        }
    }
    @media (max-width: 576px ) {

        &__inputs-row{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            width: 100%;
        }

        &__form{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__inputs-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            width: 100%;

        }
    }
}
