@media(max-width:576px){
    .footer{
        background-color: #00439C;
        color: white;
        width: 100%;
        width: 10rem;

        &__contenedor{
            
            &__h2{
                margin-left:.5rem;
                margin-top:.5rem;
            }
            &__acerca-de{
            width: 50%;
            display: flex;
            flex-direction: column;
            }
            &__acerca-de__a{
                height: 3rem;
                color: white;
                margin: .3rem;
                text-decoration: none;
                transition: 0.3s ease-in-out;
                &__link:hover{
                    transform: scale(1.05);
                }
            &__hr{
                border: 2px solid white;
            }
            }
        }
        &__iconos{
            filter: invert(100%);
            margin: .3em;
            &__1{
                width: 2em;
            }
            &__2{
                width: 1.3em;
                position: relative;
            }
            &__3{
                width: 1.8em;
            }
        }   
    }

}
@media(min-width:576px){
    .footer{
        background-color: #00439C;
        color: white;
        width: 100%;
        height: 10rem;
        &__contenedor{
            
            &__h2{
                margin-left:.5rem;

            }
            &__acerca-de{
            width: 50%;

            display: flex;
            flex-direction: column;
            }
            &__acerca-de__a{
                height: 3rem;
                width: 10em;
                color: white;
                margin: .3rem;
                text-decoration: none;
                transition: 0.3s ease-in-out;
                &__link:hover{
                    transform: scale(1.05);
                }
            &__hr{
                border: 2px solid white;
            }

            }
        }
        &__iconos-contenedor:hover{

                transform: scale(1.05);
        }
        &__iconos{
            filter: invert(100%);
            margin: .3em;
            margin-left:.7rem;
            &__1{
                width: 2em;
            }
            &__2{
                width: 1.3em;
                
            }
            &__3{
                width: 1.8em;
            }
        }   
    }

}
